[submodule "biwasyuni"]
	path = biwasyuni
	url = https://github.com/okuoku/biwasyuni
[submodule "yuni"]
	path = yuni
	url = https://github.com/okuoku/yuni
[submodule "biwascore"]
	path = biwascore
	url = https://github.com/okuoku/biwascore
